<div class="container">
  <app-header class="header"></app-header>
  <div class="contents">
    <form>
      <div>
        <app-card [card]="nakajimaCard"></app-card>
      </div>
      <div class="input-area">
        <app-textfield [textfield]="namefield"></app-textfield><br />
        <app-button [button]="okButton" class="button"></app-button>
        <app-button [button]="disalbedButton" class="button"></app-button>
      </div>
    </form>
  </div>
  <app-footer class="footer"></app-footer>
</div>
