<div class="container">
  <app-header class="header"></app-header>
  <div class="contents">
    <form>
      <div>
        <app-card [card]="detailService.card"></app-card>
      </div>
      <div class="input-area">
        <app-textfield [textfield]="detailService.namefield"></app-textfield><br />
        <app-button [button]="detailService.okButton" class="button"></app-button>
        <app-button [button]="detailService.disalbedButton" class="button"></app-button>
      </div>
    </form>
  </div>
  <app-footer class="footer"></app-footer>
</div>
